.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  min-height: 10vh;
  width: 94vw;
  margin: auto;
  border-radius: 10px;
  box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.navbar div {
  min-width: 10rem;
}

.navlogo {
  padding-left: 3rem;
  display: flex;
  color: #000;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.navlogo img {
  width: 5rem;
  height: 4rem;
}

.navbar .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links a {
  color: #000;
  font-size: 1.3rem;
  margin: 0 1rem;
  color: #437fc7;
}

.logout {
  display: flex;
  align-items: center;
}

.logout button {
  background: #437fc7;
  border: none;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 10px;
  color: #fff;
  font-size: 1.1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
