.dashboard {
  background-color: #437fc7;
  min-height: 90vh;
  padding: 2rem;
}
.title {
  text-align: center;
  margin-bottom: 3rem;
  color: white;
}

.detail {
  margin: 2rem;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf6ff;
  border-radius: 10px;
  font-size: 1.3rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.5);
}

.button {
  padding: 8px 24px;
  border: none;
  text-align: center;
  margin-right: 50px;
  background-color: #6daffe;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.button a {
  color: #fff;
  text-decoration: none;
}
